/* Global styles */

html, body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(#6E76B3, #9EB6C6);
}

body, p {
    color: snow;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    text-transform: lowercase;
    text-align: left;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.6rem;
}

h1 {
    text-align: left;
    font-size: 2.0rem;
    line-height: 2.4rem;
    font-weight: lighter;
}

em {
    font-weight: normal;
    background: rgba(79, 84, 124, 0.40);
}

::selection, ::-moz-selection {
    background: rgba(79, 84, 124, 0.80);
}