html {
    display: table;
    margin: auto;

    --darkgrey: #333;
    --lightgrey: #999;

    --palegold: #FFF5DD;
    --goldenrod: #ECB357;
    --lightgreen: #E3E6DF;
    --palegreen: #9AA58A;
    --darkgreen: #4B7554;
}

html, body {
    background: white;
}

body {
    display: table-cell;
    vertical-align: middle;
}

body, p {
    color: var(--darkgrey);
	font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}

header {
    color: var(--darkgrey);
    font-size: 1.8rem;
}

h1, h2, h3 {
    color: var(--darkgreen);
    font-weight: normal;
}

h1 { font-size: 1.6rem; }

h2 { font-size: 1.4rem; }

h3 { font-size: 1.2rem; }

hr {
    background: var(--goldenrod);
    height: 1px;
    border: none;
}

a {
	color: var(--darkgrey);
    text-decoration: none;
    border-bottom: 2px solid var(--palegreen);
}

a:hover {
    background: var(--palegold);
    border-bottom: 2px solid var(--goldenrod);
}

em, strong {
    color: var(--darkgreen);
}

strong {
    font-weight: normal;
}

mark {
    background: var(--palegold);
}

ul, ol {
    color: var(--darkgreen);
}

blockquote {
    background: var(--lightgreen);
    display: block;
    padding: 0.1rem 1rem;
}

code {
    background: var(--lightgreen);
    display: block;
    padding: 1rem;
    font-size: 0.9rem;
}

::selection, ::-moz-selection {
    background: var(--goldenrod);
}

div {
    max-width: 30rem;
}