/* Global styles */

html, body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

body {
    margin: 0;
    background: snow;
}

body, p {
    color: darkslategray;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 1.2rem;
}

h1 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    font-weight: lighter;
}

em, strong {
    font-weight: normal;
}

mark {
    font-style: italic;
    background: paleturquoise;
}

::selection, ::-moz-selection {
    background: paleturquoise;
}