html {
    display: table;
    margin: auto;

    --darkgrey: #333;
    --lightgrey: #999;

    --goldenrod: #ECB357;
    --palegreen: #9AA58A;
    --darkgreen: #4B7554;
    /* --lightpink: #E4CECE;
    --dustypink: #B57979; */

}

html, body {
    background: white;
}

body {
    display: table-cell;
    vertical-align: middle;
}

body, p {
    color: var(--darkgrey);
	font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}

h1, h2, h3 {
    color: var(--darkgreen);
    font-weight: normal;
}

h1 { font-size: 1.5rem; }

h2 { font-size: 1.3rem; }

h3 { font-size: 1.1rem; }

hr {
    background: var(--goldenrod);
    height: 1px;
    border: none;
}

a {
	color: var(--darkgrey);
    text-decoration: none;
    border-bottom: 2px solid var(--palegreen);
}

a:hover {
    color: var(--lightgrey);
    border-bottom: 2px solid var(--goldenrod);
}

em {
    color: var(--darkgreen);
}

::selection, ::-moz-selection {
  background: var(--goldenrod);
}

div {
    max-width: 40rem;
}